.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    height:350px;
    overflow-y: scroll;
    padding:0;
    margin:0;
}

.chat-messages {
    display: flex;
    width: 50%;
    border-radius: 30px;
    padding: 1rem !important;
    margin-bottom: 0.5em;
}